* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
  padding: 0;
}
.textarea:focus,
input:focus {
  outline: none;
}
*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1440px !important;
}
.separator {
  border-bottom: 0;
}
.separator::before {
  content: "";
  width: 38%;
  border-bottom: 1px solid #cfcfd7;
  margin-right: 15px;
}
.separator::after {
  content: "";
  width: 38%;
  border-bottom: 1px solid #cfcfd7;
  margin-left: 15px;
}

.ant-steps-item-title {
  color: #023047 !important;
  font-size: 22px !important;
  font-family: poppins;
  font-weight: 500 !important;
  color: #023047 !important;
  margin: 5px 0px 0px 0px;
}
.ant-steps-icon {
  color: #fff !important;
  font-size: 17px;
  font-weight: 500 !important;
}

.ant-steps-item-description {
  font-family: poppins;
  font-size: 13px !important;
}
.ant-steps-item-icon {
  border-radius: 6px !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.button:focus-within .border-4 {
  border-color: none !important;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.card {
  width: 30.5%;
}
.white-icon {
  color: #ffff;
}
.back-color:hover {
  background-color: #cfcfd792;
}

.custom-tabs {
  background-color: #f8f9fa;
  padding: 10px 30px;
}
.nav-item {
  border: 1px solid black;
  padding: 5px 10px;
}

.custom-tabs {
  background: none;
  padding: 0;
}
.custom-tab.active {
  color: #fff;
}
.nav-link {
  color: #023047;
}
.nav-link.active {
  background: transparent !important;
  color: black;
  border: none;
}

.nav-item {
  width: 33.3%;
  padding: 5px 0px;
}
.nav-item button {
  margin: auto;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #219ebc;
  border-color: #219ebc;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: #023047 !important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #023047 !important;
}
.lft-rule.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #023047;
}
.rtl-rule.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  visibility: hidden;
  display: none;
}
.rtl-rule.ant-steps.ant-steps-vertical
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail {
  margin-left: 280px;
  inset: 0;
}
.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  color: #023047 !important;
}
.lft-rule.ant-steps.ant-steps-vertical
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail {
  padding: 45px 4px 7px;
}

.ant-steps.ant-steps-vertical
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail {
  padding: 45px 4px 7px;
}

.rtl-rule.ant-steps .ant-steps-item-container {
  display: flex !important;
  flex-direction: row-reverse !important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: #ffff !important;
  font-weight: bold !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-steps-item-tail {
  display: none !important;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* .pdf-viewer{
  border: 2px solid red;
} */
@media (max-width: 767px) {
  .wrapper-Div {
    background: linear-gradient(to right, #8ecae6, #219ebc, #8ecae6) !important;
  }
  .card {
    width: 100%;
    padding: 15px 6px !important;
  }
  .ant-steps.ant-steps-vertical {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-item {
    max-width: 33.3%;
  }
  .ant-steps-item-title {
    font-size: 18px !important;
  }
  .Amount-input{
    margin-top: 14px !important;
  }
  .Amount-input-data{
    margin: 0 !important;
  }
  .nav-item{
    font-size: 14px !important;
  }
}
@media (max-width: 420px) {
  .separator::before {
    content: "";
    width: 10%;
    border-bottom: 1px solid #cfcfd7;
    margin-right: 0px;
  }
  .separator::after {
    content: "";
    width: 10%;
    border-bottom: 1px solid #cfcfd7;
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .separator::before {
    content: "";
    width: 30%;
    border-bottom: 1px solid #cfcfd7;
    margin-right: 10px;
  }
  .separator::after {
    content: "";
    width: 30%;
    border-bottom: 1px solid #cfcfd7;
    margin-left: 10px;
  }
}
